@import "tailwindcss";

@theme {
  --color-*: initial;
  --base-white: #fff;
  --base-black: #000;
  --base-red: hsl(14, 86%, 42%);
  --base-green: hsl(159, 69%, 38%);
  --base-rose-50: hsl(20, 50%, 98%);
  --base-rose-100: hsl(13, 31%, 94%);
  --base-rose-300: hsl(14, 25%, 72%);
  --base-rose-400: hsl(7, 20%, 60%);
  --base-rose-500: hsl(12, 20%, 44%);
  --base-rose-900: hsl(14, 65%, 9%);

  --font-main: "Red Hat Text", sans-serif;

  --color-ink-primary: var(--base-rose-900);
  --color-ink-secondary: var(--base-rose-500);
  --color-ink-tertiary: var(--base-rose-400);
  --color-ink-accent: var(--base-red);
  --color-ink-white: var(--base-white);

  --color-surface-app: var(--base-rose-50);
  --color-surface-cart: var(--base-white);
  --color-surface-modal: var(--base-white);
  --color-surface-button: var(--base-white);
  --color-surface-active: var(--base-red);
  --color-surface-backdrop: var(--base-black);

  --color-line-primary: var(--base-rose-400);
  --color-line-decorator: var(--base-rose-100);
  --color-line-accent: var(--base-red);
  --color-line-white: var(--base-white);
}
